.home__slogan {

  .slogan-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #091841;
    margin-top: -2.5rem;

    @media screen and (min-width: 1024px) {
      margin-top: 1.8vh;
      font-size: 32px;
    }

    @media screen and (min-width: 1366px) {
      margin-top: 2.2vh;
      font-size: 36px;
    }

    @media screen and (min-width: 1600px) {
      margin-top: 3vh;
      font-size: 48px;
    }
  }
}